@model IEnumerable<TaskManager.Models.TaskItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Taskuri</h1>


<!-- **Formularul de cautare -->
<form asp-action="Index" method="get" class="row g-3 mb-3">
    <div class="col-auto">
        <input
            type="text"
            name="search"
               value="@(ViewData["CurrentFilter"] as string)"
            class="form-control"
            placeholder="Cauta dupa titlu..."/>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary" >Cauta</button>
        <a asp-action="Index" class="btn btn-secondary ms-2">Reset</a>
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <input 
                    type="checkbox"
                    class="form-check-input toggle-done"
                    data-id="@item.Id"
                    @(item.IsDone ? "checked" : "")
                    />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
